<div class="d-flex flex-row justify-content-between align-items-center">
    <h1>Tabla y Articulos HttpClient</h1>
    <button (click)="anyadirElemento()" class="btn btn-success h-75">Añadir elemento</button>
</div>
<button (click)="getArticulosByPrecio()" class="btn btn-info h-75">Buscar precio mayor a</button>

<table class="table table-dark table-striped mt-2">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Unidades</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (a of articulos; track a.id) {
            <tr>
                <td>{{a.id}}</td>
                <td>{{a.nombre}}</td>
                <td>{{a.descripcion}}</td>
                <td>{{a.unidades}}</td>
                <td>{{a.precio | currency}}</td>
                <td><button (click)="getArticuloById(a.id)" [class]="a.unidades == 0? 'btn bg-secondary':'btn btn-primary'">
                    Ver
                </button></td>
                <td><button class="btn btn-danger" (click)="borrarArticulo(a.id)">
                    Borrar
                </button></td>
                <td><button class="btn btn-warning">
                    Modificar
                </button></td>
            </tr>
        }@empty {
            <div class="alert alert-danger">No hay articulos</div>
        }
    </tbody>
</table>
<div id="contenedor" class="row row-cols-1 row-cols-md-6 g-4">
    @for(articulo of articulos; track articulo.id){
    <div class="card m-3 rounded-4 p-3">
        <img src="assets/images/{{ articulo.id }}.jpg" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">
                {{ articulo.nombre }} ({{ articulo.unidades }})
            </h5>
            <p class="card-text">{{ articulo.descripcion }}</p>
            <b>
                <p class="card-text text-center">{{ articulo.precio }}</p>
            </b>
        </div>
        <button class="btn btn-primary">Comprar</button>
    </div>
    }
</div>