<h1>Inicio</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="w-50 bg-info-subtle d-flex flex-row align-items-center justify-content-center">
        <div>
            <img style="height: 200px; width: auto;" src="assets/images/company_logo.png" alt="Company Logo">
    
        </div>
        <div>
            <h2>Comapañia&co.</h2>
        </div>
    </div>
    <div class="w-50 text-center bg-primary-subtle px-5 py-1">
        Por bla bla bla en un mundo bla bla bla y con unos valores bla bla bla nos dedicamos a bla bla bla ofreciendo bla bla bla a nuestros clientes.
    </div>
</div>

