
<h3>Articulos | Total:{{articulos.length}} Claros: {{articulos.length-numArticulosOscuros}}, Oscuros: {{numArticulosOscuros}}</h3>
<div class="row row-cols-6 g-3">
    @for (articulo of articulos; track articulo.id) {
    <!-- <div class="card col" style="margin: 2px; padding: 2px;">
        <img src="assets/images/{{articulo.id}}.jpg" class="card-img" alt="Imagen movil">
        <div class="card-body">
            <h5 class="card-title">{{articulo.precio}}</h5>
            <p class="card-text">{{articulo.descripcion}}</p>
            <p class="card-text">{{articulo.unidades}}</p>
            <b>
                <p class="card-text text-center">{{articulo.precio}}</p>
            </b>
        </div>
        <button [class]="articulo.unidades == 0? 'btn btn-danger':'btn btn-primary'" (click)="verArticulos()">
            Comprar
        </button>
    </div> -->
    <app-articulo-card-component (cambiarAOscuro)="articulosModoOscuro($event)" [articulo]="articulo" [showBtnCambiarAOscuro]="true"></app-articulo-card-component>
    }
</div>